body {
    font-family: Arial, sans-serif;
    background: #2c3e50;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

div.container {
    position: absolute;
    top: 30%;
    margin-top: -120px;
    text-align: center;
    left: 50%;
    max-width: 600px;
    background: #3498db;
    color: white;
    margin-left: -315px;
    padding: 30px;
    border-bottom: 11px solid white;
    width: 580px;
}

div.container h1 {
    font-size: 64px;
    margin: -10px;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
}

div.container h2.small {
    font-size: 20px;
}

pre.console {
    background: rgba(300, 300, 300, 0.7);
    color: black;
    text-align: left;
    padding: 15px;
    font-family: "Monaco", monospace;
    font-weight: bold;
}

textarea.js-code-to-run {
    border: none;
    padding: 10px 10px 0px 10px;
    width: 560px;
    resize: vertical;
    font-family: "Monaco", monospace;
    font-size: 16px;
    height: 30px;
}

/* console colors */
pre span.info  { color: #004AA0; }
pre span.debug  { color: #004AA0; }
pre span.error { color: red; }
pre span.warn  { color: rgb(255, 133, 0); }
